body {
	padding: 20px;
	font-family: georgia, times, sans-serif;
	letter-spacing: -0.01em;
	line-height: 1.4;
}

h1,
h2,
p {
	font-weight: normal;
	margin: 0px 0px 4px 0px;
}

h1 {
	display: inline;
	border-bottom: 	1px solid #cee;
	margin: 0px 0px 8px 0px;
}

h2 {
	display: inline;
	border-bottom: 	1px solid #cee;
	font-size: 1.3em;
	margin: 0px 0px 0px 0px;
}

strong {
	background-color: #cee;
	padding: 0px 2px;
	font-weight: normal;
}

a,
span.anchor {
	text-decoration: none;
	border-bottom: 1px solid #9cc;
	color: #000;
	padding: 0px 0px 1px;
	cursor: text;
}

ul {
	margin: 10px 0px 10px;
	padding: 0px 0px 0px 15px;
}

hr {
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
	margin: 0;
	padding: 0;
	border: 0;
	*margin: -15px 0px 0px;
}

a:hover {
	background-color: #cee;
}

div.column {
	width: 440px;
	float: left;
	margin: 10px 60px 0px 0px;
}


div.txtedit {
	width: 400px;
	border: 2px solid #ccc;
	padding: 20px;
	float: left;
	margin: 20px 60px 0px 0px;
}

#cursor {
	margin: 0px -1px 0px 0px;
	padding: 0px;
	position: relative;
	top: 3px;
	left: -0.5px;
}